body {
  font-family: "Raleway", "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Логотип */
.logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}
.logo-blue {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
  color: #2196f3;
}
.logo-black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
  color: black;
}
.link-current {
  color: #2196f3;
}
/* Навигация */
.site-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.site-nav a {
  text-decoration: none;
}
.site-nav .link {
  color: #212121;
}

/* E-mail */
.mailto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mailto:hover {
  color: #2196f3;
}
/* Телефон */
.tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #757575;
  text-decoration: none;
}
.tel:hover {
  color: #2196f3;
}

main {
  background-color: #ffffff;
}
.section-captain {
  background-color: #2f303a;
  width: 1600px;
  height: 300px;
}
.section-captain-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* Кнопка */
.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
}
.btn {
  min-width: 200px;
  background: #2196f3;
}
.box {
}
.btn:hover {
  color: teal;
}

/* Section 1 */
.section .subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.section .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.content .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.user {
  width: 1600px;
  background: #f5f4fa;
}
.user .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.user h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}
.user p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
.name-text {
  text-align: center;
}
/* Подвал */
.footer {
  width: 1600px;
  height: 180px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}
.footer .logo-footer {
  text-decoration: none;
}
.footer .logo-blue {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
}
.footer .logo-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: white;
}
.footer .address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer .text {
  text-decoration: none;
  color: #ffffff;
}
.footer .text:hover {
  color: #2196f3;
}
.footer .mailto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer .mailto:hover {
  color: #2196f3;
}
.footer .tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer .tel:hover {
  color: #2196f3;
}
/* Порфолио */
.button-current {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: white;
  background-color: #2196f3;
  border: none;
  display: inline-block;
}
.list .button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #212121;
}
.button:hover,
.button:focus {
  color: white;
  background-color: #2196f3;
}
.header {
  background-color: #fff;
}
.item .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
